@import url('https://api.fontshare.com/v2/css?f[]=supreme@400&f[]=recia@500&display=swap');

@import "tailwindcss";
@import "tailwindcss/utilities";

body {
  /* font-family: 'Poppins', sans-serif;
  font-family: 'Supreme', sans-serif; */
  font-family: 'Recia', serif;
}

.active-link{
  background-color: #e5e5e5;
}

